.top__input__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background-color: var(--black05);
}

.top__input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;
  box-shadow: 0px 0px 0px 4px var(--black02);
  border-radius: 2px;
  overflow: hidden;

  input {
    outline: none;
    border: 0;
    width: 550px;
    padding: 20px 35px;
  }

  button {
    outline: none;
    border: 0;
    width: 70px;
    cursor: pointer;
    color: var(--black05);
    background-color: var(--green);
    opacity: 0.9;

    &:hover { opacity: 1; }
  }
}